// animation page router
.scale-enter-active,
.scale-leave-active {
    transition: all 0.15s ease;
}

.scale-enter-from,
.scale-leave-to {
    opacity: 0;
    transform: scale(0.97);

}
@keyframes moveLight {
    from {
        transform: translateX(-130%) skewX(-45deg);
    }
    10% {
        transform: translateX(-130%) skewX(-45deg);
    }
    20% {
        transform: translateX(-130%) skewX(-45deg);
    }
    30% {
        transform: translateX(-130%) skewX(-45deg);
    }
    40% {
        transform: translateX(-130%) skewX(-45deg);
    }
    50% {
        transform: translateX(130%) skewX(-45deg);
    }
    60% {
        transform: translateX(130%) skewX(-45deg);
    }
    70% {
        transform: translateX(130%) skewX(-45deg);
    }
    80% {
        transform: translateX(130%) skewX(-45deg);
    }
    90% {
        transform: translateX(130%) skewX(-45deg);
    }
    100% {
        transform: translateX(130%) skewX(-45deg);
    }
}
.animation-ripple {
    animation: ink 0.6s;
    border-radius: 100%;
    background: var(--color-background);
    height: 12px;
    position: absolute;
    width: 12px;
}

@keyframes ink {
    0% {
        opacity: 0.2;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(80);
    }
}
