:root {
    --color-primary: #0D6EFD;
    --color-text-secondary-rgb: 112,117,121;
    --space-big: 24px;
    --space-medium: 18px;
    --space-normal: 16px;
    --space-small: 8px

}
.dark {
    --color-background: rgb(44,44,44);
    --item-hover-bg: #2c2c2c;
    --color-background-secondary: rgb(15,15,15);
    --color-border-item: rgb(48, 48, 48);
    --color-border-input: rgb(91, 91, 90);
}

.light {
    --color-background: rgb(244,244,245);
    --item-hover-bg: #f4f4f5;
    --color-background-secondary: rgb(244,244,245);
    --color-border-item: rgb(218,220,224);
    --color-border-input: rgb(218,220,224);
}
