@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8xpeka');
  src:  url('fonts/icomoon.eot?8xpeka#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8xpeka') format('truetype'),
    url('fonts/icomoon.woff?8xpeka') format('woff'),
    url('fonts/icomoon.svg?8xpeka#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
